
main
  max-width: 786px
  margin: 40px auto
  padding: 0 20px
  font-family: sans-serif

a
  color: blue 
  text-decoration: none

a:hover
  text-decoration: underline 

img 
  object-fit: cover


.index
  h1
    font-size: 2.5rem
    margin: 40px 0 60px

  h2
    font-size: 1.8rem
    margin: 0 0 15px 0

  ul
    list-style: none
    padding: 0

  article
    margin-bottom: 60px
    padding: 20px 0

  p
    margin: 4px 0
    font-size: 0.9rem
    color: #666


.post 
  h1
    font-size: 2.5rem
    margin-bottom: 10px

  div:first-of-type
    position: relative
    width: 100%
    height: 450px
    margin: 20px 0
    
  div:nth-of-type(2)
    font-size: 0.9rem
    margin-bottom: 30px

  div:nth-of-type(3)
    line-height: 1.6
    font-size: 1.1rem
      
  footer
    margin-top: 60px
    padding-top: 20px
    border-top: 1px solid gray

  span img 
    transform: translateY(12px)
  


.bird
  
  img 
      border-radius: 50%;
    
  h1 
    margin: 0;
    font-size: 2rem;
      

  h3 
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: #666;

  div 
    display: flex;
    align-items: center;
    gap: 1.5rem; 
    margin-bottom: 2rem;
    flex-direction: row;


    div 
      flex-direction: column;
