h1
  font-size: 2.5rem
  margin: 40px 0 60px
    
h2
  font-size: 1.8rem
  margin: 0 0 15px 0


ul
  list-style: none
  padding: 0

article
  margin-bottom: 60px
  padding: 20px 0

p
  margin: 4px 0
  font-size: 0.9rem
  color: #666


